# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
/PiPlantWebServer/.settings/org.eclipse.php.core.prefs
/PiPlantWebServer/.settings/org.eclipse.wst.common.project.facet.core.xml
/RemoteSystemsTempFiles/.project
/.metadata/.lock
/.metadata/.log
/.metadata/.mylyn/repositories.xml.zip
/.metadata/.plugins/org.eclipse.cdt.core/.log
/.metadata/.plugins/org.eclipse.cdt.core/PiPlantCore.1386785849426.pdom
/.metadata/.plugins/org.eclipse.cdt.make.core/.log
/.metadata/.plugins/org.eclipse.cdt.make.core/PiPlantCore.sc
/.metadata/.plugins/org.eclipse.cdt.make.core/specs.c
/.metadata/.plugins/org.eclipse.cdt.make.core/specs.cpp
/.metadata/.plugins/org.eclipse.core.resources/.history/2a/d04d67af9c620013120fe4874589bcd9
/.metadata/.plugins/org.eclipse.core.resources/.history/31/1057b0e19b620013120fe4874589bcd9
/.metadata/.plugins/org.eclipse.core.resources/.history/31/4021bb1e9b620013120fe4874589bcd9
/.metadata/.plugins/org.eclipse.core.resources/.history/3e/c08211939e620013182d9b7769ba8051
/.metadata/.plugins/org.eclipse.core.resources/.history/42/70ef78b09d620013120fe4874589bcd9
/.metadata/.plugins/org.eclipse.core.resources/.history/57/7053f3919c620013120fe4874589bcd9
/.metadata/.plugins/org.eclipse.core.resources/.history/64/8052deee9a620013120fe4874589bcd9
/.metadata/.plugins/org.eclipse.core.resources/.history/6b/a0f663919a620013120fe4874589bcd9
/.metadata/.plugins/org.eclipse.core.resources/.history/76/9083da969c620013120fe4874589bcd9
/.metadata/.plugins/org.eclipse.core.resources/.history/77/2074747f9e620013182d9b7769ba8051
/.metadata/.plugins/org.eclipse.core.resources/.history/8b/d0e10f0b9b620013120fe4874589bcd9
/.metadata/.plugins/org.eclipse.core.resources/.history/8e/d05446909e620013182d9b7769ba8051
/.metadata/.plugins/org.eclipse.core.resources/.history/9/200d966e9a620013120fe4874589bcd9
/.metadata/.plugins/org.eclipse.core.resources/.history/b5/10a16aba9b620013120fe4874589bcd9
/.metadata/.plugins/org.eclipse.core.resources/.history/d7/0058882c9c620013120fe4874589bcd9
/.metadata/.plugins/org.eclipse.core.resources/.history/d9/a0ddb7199b620013120fe4874589bcd9
/.metadata/.plugins/org.eclipse.core.resources/.history/dd/70e649139b620013120fe4874589bcd9
/.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.dltk.core.external.folders/.location
/.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.dltk.core.external.folders/.markers.snap
/.metadata/.plugins/org.eclipse.core.resources/.snap
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.core.prj-PiPlantCore.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.managedbuilder.core.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.ui.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.dltk.core.index.sql.h2.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.egit.core.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.context.core.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.monitor.ui.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.tasks.ui.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.php.server.core.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.rse.core.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.rse.ui.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.team.cvs.ui.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.team.ui.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.editors.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.jsdt.ui.prefs
/.metadata/.plugins/org.eclipse.dltk.core/Containers.dat
/.metadata/.plugins/org.eclipse.dltk.core/customTimeStamps
/.metadata/.plugins/org.eclipse.dltk.core/externalLibsTimeStamps
/.metadata/.plugins/org.eclipse.dltk.core.index.sql.h2/model.h2.db
/.metadata/.plugins/org.eclipse.dltk.core.index.sql.h2/model.lock.db
/.metadata/.plugins/org.eclipse.dltk.core/.org.eclipse.dltk.core.external.folders/.project
/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
/.metadata/.plugins/org.eclipse.equinox.p2.ui/dialog_settings.xml
/.metadata/.plugins/org.eclipse.jdt.core/invalidArchivesCache
/.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
/.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
/.metadata/.plugins/org.eclipse.jdt.ui/dialog_settings.xml
/.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml
/.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
/.metadata/.plugins/org.eclipse.linuxtools.cdt.libhover/C/devhelp.libhover
/.metadata/.plugins/org.eclipse.linuxtools.cdt.libhover/C/glibc_library.libhover
/.metadata/.plugins/org.eclipse.pde.core/.cache/clean-cache.properties
/.metadata/.plugins/org.eclipse.php.core/__language__/d1ee00e2/apc.php
/.metadata/.plugins/org.eclipse.php.core/__language__/d1ee00e2/basic.php
/.metadata/.plugins/org.eclipse.php.core/__language__/d1ee00e2/bcmath.php
/.metadata/.plugins/org.eclipse.php.core/__language__/d1ee00e2/bz2.php
/.metadata/.plugins/org.eclipse.php.core/__language__/d1ee00e2/calendar.php
/.metadata/.plugins/org.eclipse.php.core/__language__/d1ee00e2/Core.php
/.metadata/.plugins/org.eclipse.php.core/__language__/d1ee00e2/ctype.php
/.metadata/.plugins/org.eclipse.php.core/__language__/d1ee00e2/curl.php
/.metadata/.plugins/org.eclipse.php.core/__language__/d1ee00e2/date.php
/.metadata/.plugins/org.eclipse.php.core/__language__/d1ee00e2/dom.php
/.metadata/.plugins/org.eclipse.php.core/__language__/d1ee00e2/ereg.php
/.metadata/.plugins/org.eclipse.php.core/__language__/d1ee00e2/exif.php
/.metadata/.plugins/org.eclipse.php.core/__language__/d1ee00e2/fileinfo.php
/.metadata/.plugins/org.eclipse.php.core/__language__/d1ee00e2/filter.php
/.metadata/.plugins/org.eclipse.php.core/__language__/d1ee00e2/ftp.php
/.metadata/.plugins/org.eclipse.php.core/__language__/d1ee00e2/gd.php
/.metadata/.plugins/org.eclipse.php.core/__language__/d1ee00e2/gettext.php
/.metadata/.plugins/org.eclipse.php.core/__language__/d1ee00e2/gmp.php
/.metadata/.plugins/org.eclipse.php.core/__language__/d1ee00e2/hash.php
/.metadata/.plugins/org.eclipse.php.core/__language__/d1ee00e2/ibm_db2.php
/.metadata/.plugins/org.eclipse.php.core/__language__/d1ee00e2/iconv.php
/.metadata/.plugins/org.eclipse.php.core/__language__/d1ee00e2/imagick.php
/.metadata/.plugins/org.eclipse.php.core/__language__/d1ee00e2/imap.php
/.metadata/.plugins/org.eclipse.php.core/__language__/d1ee00e2/intl.php
/.metadata/.plugins/org.eclipse.php.core/__language__/d1ee00e2/json.php
/.metadata/.plugins/org.eclipse.php.core/__language__/d1ee00e2/ldap.php
/.metadata/.plugins/org.eclipse.php.core/__language__/d1ee00e2/libxml.php
/.metadata/.plugins/org.eclipse.php.core/__language__/d1ee00e2/mbstring.php
/.metadata/.plugins/org.eclipse.php.core/__language__/d1ee00e2/mcrypt.php
/.metadata/.plugins/org.eclipse.php.core/__language__/d1ee00e2/memcached.php
/.metadata/.plugins/org.eclipse.php.core/__language__/d1ee00e2/memcache.php
/.metadata/.plugins/org.eclipse.php.core/__language__/d1ee00e2/mongo.php
/.metadata/.plugins/org.eclipse.php.core/__language__/d1ee00e2/mssql.php
/.metadata/.plugins/org.eclipse.php.core/__language__/d1ee00e2/mysqli.php
/.metadata/.plugins/org.eclipse.php.core/__language__/d1ee00e2/mysql.php
/.metadata/.plugins/org.eclipse.php.core/__language__/d1ee00e2/oci8.php
/.metadata/.plugins/org.eclipse.php.core/__language__/d1ee00e2/odbc.php
/.metadata/.plugins/org.eclipse.php.core/__language__/d1ee00e2/openssl.php
/.metadata/.plugins/org.eclipse.php.core/__language__/d1ee00e2/pcntl.php
/.metadata/.plugins/org.eclipse.php.core/__language__/d1ee00e2/pcre.php
/.metadata/.plugins/org.eclipse.php.core/__language__/d1ee00e2/pdo_dblib.php
/.metadata/.plugins/org.eclipse.php.core/__language__/d1ee00e2/pdo_mysql.php
/.metadata/.plugins/org.eclipse.php.core/__language__/d1ee00e2/PDO_OCI.php
/.metadata/.plugins/org.eclipse.php.core/__language__/d1ee00e2/PDO_ODBC.php
/.metadata/.plugins/org.eclipse.php.core/__language__/d1ee00e2/pdo_pgsql.php
/.metadata/.plugins/org.eclipse.php.core/__language__/d1ee00e2/PDO.php
/.metadata/.plugins/org.eclipse.php.core/__language__/d1ee00e2/pdo_sqlite.php
/.metadata/.plugins/org.eclipse.php.core/__language__/d1ee00e2/pgsql.php
/.metadata/.plugins/org.eclipse.php.core/__language__/d1ee00e2/Phar.php
/.metadata/.plugins/org.eclipse.php.core/__language__/d1ee00e2/posix.php
/.metadata/.plugins/org.eclipse.php.core/__language__/d1ee00e2/readline.php
/.metadata/.plugins/org.eclipse.php.core/__language__/d1ee00e2/redis.php
/.metadata/.plugins/org.eclipse.php.core/__language__/d1ee00e2/Reflection.php
/.metadata/.plugins/org.eclipse.php.core/__language__/d1ee00e2/session.php
/.metadata/.plugins/org.eclipse.php.core/__language__/d1ee00e2/shmop.php
/.metadata/.plugins/org.eclipse.php.core/__language__/d1ee00e2/SimpleXML.php
/.metadata/.plugins/org.eclipse.php.core/__language__/d1ee00e2/soap.php
/.metadata/.plugins/org.eclipse.php.core/__language__/d1ee00e2/sockets.php
/.metadata/.plugins/org.eclipse.php.core/__language__/d1ee00e2/SPL.php
/.metadata/.plugins/org.eclipse.php.core/__language__/d1ee00e2/sqlite3.php
/.metadata/.plugins/org.eclipse.php.core/__language__/d1ee00e2/ssh2.php
/.metadata/.plugins/org.eclipse.php.core/__language__/d1ee00e2/standard.php
/.metadata/.plugins/org.eclipse.php.core/__language__/d1ee00e2/sysvmsg.php
/.metadata/.plugins/org.eclipse.php.core/__language__/d1ee00e2/sysvsem.php
/.metadata/.plugins/org.eclipse.php.core/__language__/d1ee00e2/sysvshm.php
/.metadata/.plugins/org.eclipse.php.core/__language__/d1ee00e2/tidy.php
/.metadata/.plugins/org.eclipse.php.core/__language__/d1ee00e2/tokenizer.php
/.metadata/.plugins/org.eclipse.php.core/__language__/d1ee00e2/uploadprogress.php
/.metadata/.plugins/org.eclipse.php.core/__language__/d1ee00e2/wddx.php
/.metadata/.plugins/org.eclipse.php.core/__language__/d1ee00e2/xml.php
/.metadata/.plugins/org.eclipse.php.core/__language__/d1ee00e2/xmlreader.php
/.metadata/.plugins/org.eclipse.php.core/__language__/d1ee00e2/xmlrpc.php
/.metadata/.plugins/org.eclipse.php.core/__language__/d1ee00e2/xmlwriter.php
/.metadata/.plugins/org.eclipse.php.core/__language__/d1ee00e2/xsl.php
/.metadata/.plugins/org.eclipse.php.core/__language__/d1ee00e2/zip.php
/.metadata/.plugins/org.eclipse.php.core/__language__/d1ee00e2/zlib.php
/.metadata/.plugins/org.eclipse.rse.ui/.log
/.metadata/.plugins/org.eclipse.team.cvs.core/.running
/.metadata/.plugins/org.eclipse.ui.ide/dialog_settings.xml
/.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
/.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
/.metadata/.plugins/org.eclipse.wst.sse.core/task-tags.properties
/.metadata/.plugins/org.eclipse.wst.xml.core/default_catalog.xml
/.metadata/.plugins/org.eclipse.wst.xml.core/system_catalog.xml
/.metadata/version.ini
/.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.dltk.core.external.folders/.syncinfo.snap
/.metadata/.plugins/org.eclipse.core.resources/.projects/PiPlantCore/.indexes/38/properties.index
/.metadata/.plugins/org.eclipse.core.resources/.projects/PiPlantCore/.indexes/45/history.index
/.metadata/.plugins/org.eclipse.core.resources/.projects/PiPlantCore/.indexes/properties.index
/.metadata/.plugins/org.eclipse.core.resources/.projects/PiPlantCore/.markers.snap
/.metadata/.plugins/org.eclipse.core.resources/.projects/PiPlantCore/.syncinfo.snap
/.metadata/.plugins/org.eclipse.core.resources/.projects/PiPlantWebServer/.indexes/45/history.index
/.metadata/.plugins/org.eclipse.core.resources/.projects/PiPlantWebServer/.indexes/45/properties.index
/.metadata/.plugins/org.eclipse.core.resources/.projects/PiPlantWebServer/.indexes/properties.index
/.metadata/.plugins/org.eclipse.core.resources/.projects/PiPlantWebServer/.markers.snap
/.metadata/.plugins/org.eclipse.core.resources/.projects/PiPlantWebServer/org.eclipse.egit.core/GitProjectData.properties
/.metadata/.plugins/org.eclipse.core.resources/.projects/PiPlantWebServer/.syncinfo.snap
/.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.markers.snap
/.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.syncinfo.snap
/.metadata/.plugins/org.eclipse.core.resources/.root/1.tree
/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
/.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
/.metadata/.plugins/org.eclipse.rse.core/initializerMarks/org.eclipse.rse.internal.core.RSELocalConnectionInitializer.mark
/.metadata/.plugins/org.eclipse.rse.core/.log
/.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.pi-virtual-machine_0/FP.local.files_0/node.properties
/.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.pi-virtual-machine_0/H.local_16/node.properties
/.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.pi-virtual-machine_0/node.properties
